gunicorn
absl-py
alembic
aniso8601
astunparse
attrs
bcrypt
beautifulsoup4
berserk
bidict
blinker
cachetools
cairocffi
CairoSVG
cefpython3
certifi
cffi
chardet
charset-normalizer
chess
click
colorama
comtypes
contourpy
cryptography
cssselect2
customtkinter
cycler
Cython
darkdetect
decorator
defusedxml
Deprecated
docopt
dtw-python
ffmpeg
ffmpeg-python
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Login
Flask-Mail
Flask-Migrate
Flask-RESTful
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
fsspec
future
gast
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-speech
google-cloud-texttospeech
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
gTTS
h11
h5py
httplib2
huggingface-hub
idna
imageio
imageio-ffmpeg
itsdangerous
jax
jaxlib
Jinja2
joblib
Js2Py
kagglehub
keras
kiwisolver
libclang
llvmlite
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
more-itertools
MouseInfo
moviepy
mpmath
mss
namex
ndjson
networkx
nltk
numba
numpy
openai-whisper
opencv-contrib-python
opencv-python
opencv-python-headless
opt_einsum
optree
outcome
packaging
pandas
phonenumbers
pillow
pipwin
proglog
proto-plus
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1_modules
PyAudio
PyAutoGUI
pycparser
pydub
pygame
PyGetWindow
Pygments
pyjsparser
PyJWT
PyMsgBox
PyMySQL
pyparsing
pyperclip
pypiwin32
PyPrind
PyRect
PyScreeze
pySmartDL
PySocks
pytesseract
python-chess
python-dateutil
python-dotenv
python-engineio
python-socketio
pyttsx3
pytube
pytweening
pytz
pywifi
pywin32
PyYAML
regex
reportlab
requests
rich
rsa
safetensors
scipy
seaborn
selenium
sentencepiece
simple-websocket
six
smmap
sniffio
sortedcontainers
sounddevice
soupsieve
SpeechRecognition
SQLAlchemy
srt
stockfish
svglib
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
textblob
tf_keras
tiktoken
tinycss2
tokenizers
torch
torchvision
tqdm
transformers
trio
trio-websocket
typing_extensions
tzdata
tzlocal
ultralytics
ultralytics-thop
uritemplate
urllib3
vosk
webencodings
websocket-client
websockets
webvtt-py
Werkzeug
whisper-timestamped
wrapt
wsproto
WTForms
youtube-dl
youtube-transcript-api
yt-dlp
