gunicorn
absl-py==2.1.0
alembic==1.14.0
aniso8601==9.0.1
astunparse==1.6.3
attrs==24.3.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
berserk==0.13.2
bidict==0.23.1
blinker==1.9.0
cachetools==5.5.0
cairocffi==1.7.1
CairoSVG==2.7.1
cefpython3==66.1
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chess==1.11.1
click==8.1.8
colorama==0.4.6
comtypes==1.4.8
contourpy==1.3.1
cryptography==44.0.0
cssselect2==0.7.0
customtkinter==5.2.2
cycler==0.12.1
Cython==3.0.11
darkdetect==0.8.0
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.18
docopt==0.6.2
dtw-python==1.5.3
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.16.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SocketIO==5.5.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==24.12.23
fonttools==4.55.3
fsspec==2024.12.0
future==1.0.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.0
google-api-python-client==2.158.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-speech==2.30.0
google-cloud-texttospeech==2.23.0
google-pasta==0.2.0
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpcio==1.69.0
grpcio-status==1.69.0
gTTS==2.5.4
h11==0.14.0
h5py==3.12.1
httplib2==0.22.0
huggingface-hub==0.27.1
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
jax==0.4.38
jaxlib==0.4.38
Jinja2==3.1.5
joblib==1.4.2
Js2Py==0.74
kagglehub==0.3.6
keras==3.8.0
kiwisolver==1.4.8
libclang==18.1.1
llvmlite==0.43.0
lxml==5.3.0
Mako==1.3.8
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mediapipe==0.10.20
ml-dtypes==0.4.1
more-itertools==10.5.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
mss==10.0.0
namex==0.0.8
ndjson==0.3.1
networkx==3.4.2
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
openai-whisper==20240930
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.13.1
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
phonenumbers==8.13.52
pillow==10.4.0
pipwin==0.5.2
proglog==0.1.10
proto-plus==1.25.0
protobuf==5.29.3
psutil==6.1.1
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
pydub==0.25.1
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
pyjsparser==2.7.1
PyJWT==2.10.1
PyMsgBox==1.0.9
PyMySQL==1.1.1
pyparsing==3.2.1
pyperclip==1.9.0
pypiwin32==223
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==1.0.1
pySmartDL==1.3.4
PySocks==1.7.1
pytesseract==0.3.13
python-chess==1.999
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-socketio==5.12.1
pyttsx3==2.98
pytube==15.0.0
pytweening==1.2.0
pytz==2024.2
pywifi==1.1.12
pywin32==308
PyYAML==6.0.2
regex==2024.11.6
reportlab==4.2.5
requests==2.32.3
rich==13.9.4
rsa==4.9
safetensors==0.5.2
scipy==1.14.1
seaborn==0.13.2
selenium==4.28.1
sentencepiece==0.2.0
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soupsieve==2.6
SpeechRecognition==3.12.0
SQLAlchemy==2.0.36
srt==3.5.3
stockfish==3.28.0
svglib==1.5.1
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
textblob==0.18.0.post0
tf_keras==2.18.0
tiktoken==0.8.0
tinycss2==1.4.0
tokenizers==0.21.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.48.0
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ultralytics==8.3.59
ultralytics-thop==2.0.13
uritemplate==4.1.1
urllib3==2.3.0
vosk==0.3.45
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
webvtt-py==0.5.1
Werkzeug==3.0.4
whisper-timestamped==1.15.8
wrapt==1.17.1
wsproto==1.2.0
WTForms==3.2.1
youtube-dl==2021.12.17
youtube-transcript-api==0.6.3
yt-dlp==2025.1.15
